
:root{
    --font-principal: "Constantia", serif;
    --background: #FFFFFF;
}

body{
    font-family: var(--font-principal)
}
.logo{
    width: 120px;
    height: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.card, .botao, i{
    color: black;
}

