
:root{
    --font-principal: "Constantia", serif;
    --background: #FFFFFF;
}

body{
    font-family: var(--font-principal)
}
.logo{
    width: 120px;
    height: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.botao, i{
    color: black;
}
.card{
    display: flex;
    margin: 10px;
    width: 300px;
    height: 200px;
    background-color: blue;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: black;
    flex-direction: column;
}
.card h2{
    margin: 0px;
}
.card p{
    margin: 0px;
}
.cards{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
    position: relative;
}
.esquerda{
    display: flex;
    gap: 50px;
}
.direita{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
